<div ng-app="app">
  {{ 1 + 1 }}

  <div ng-controller="stuffCtrl">
    <ul>
      <li ng-repeat="task in tasks">{{ task }} <div><input type="text" ng-model="task"></div></li>
    </ul>
    
    <h3>Add your task</h3>
    <input type="text" ng-model="newTask">
    <button ng-click="addTask(newTask)">Add New Task</button>

    <!-- <div>{{ tasks }}</div> -->

    <!-- <input ng-model="message3"> -->
  </div>
</div>

{{ message2 }}
