<div ng-app="app">
  {{ 1 + 1 }}

  <div ng-controller="stuffCtrl">
<!--     <h1>{{ message }}</h1>
    <h1>{{ message2 }}</h1>
    <h1>{{ message3 }}</h1> -->
    <ul>
      <li ng-repeat="task in tasks">{{ task }}</li>
    </ul>
    <!-- <div>{{ tasks }}</div> -->

    <input ng-model="message3">
  </div>
</div>

{{ message2 }}
